beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
html5lib==1.0.1
lxml==4.2.1
markovify==0.7.1
urllib3==1.22
webencodings==0.5.1
spacy==2.0.12
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.0.0/xx_ent_wiki_sm-2.0.0.tar.gz
